<div class="padd sidebar">
    <!-- Each sidebar should be enclosed inside "widget class" -->

    <!-- 2nd widget -->
    <div class="widget">
        <h3 class="matopen">Menu</h3>
        <div class="matter">
            <ul>
                <li><a href="/Home/CommercialOffer#sec1">Business Consulting</a></li>
                <li><a href="/Home/CommercialOffer#sec2">IT Consulting</a></li>
            </ul>
        </div>
    </div>

    <div class="widget">
        <h3 class="matopen">Technologie</h3>
        <div class="matter">

            <ul>
                <li>UML
                C#/VB  
                VBA 
                SQL 
                XML  
                XPath  
                XSD 
                XSL/XSLT</li>

                <li>ASP.NET/ASP.NET MVC 
                ADO.NET/Entity Framework
                jQuery
                Bootstrap
                AJAX
                CSS
                HTML/DHTML 
                Web Services
                </li>
                <li>Visual Studio
                Enterprice Architect
                MS Visio
                MS Project
                MS Office
                SharePoint Designer
                Nintex Workflow
                InfoPath
                DTS/Integration Services
                </li>
                <li>SharePoint
                Windows Azure
                Windows Server
                Active Directory
                IIS
                Office Automation
                Office 365
                Business Objects
                Microsoft Project Server
                WebEx
                </li>
                <li>TCP/IP
                VoIP
                </li>
            </ul>

        </div>
    </div>

</div>
