<div class="padd whity content">
    <!-- Main Content Starts Here -->
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
        <!-- Each entry should be enclosed inside div with the class "entry" -->

        
        <div class="entry" id="sec2">
            <!-- Entry title -->
            <h2><a href="#">Kto skorzysta na wdrożeniu plaformy <strong>STAFix24</strong>?</a></h2>
            <!-- Thumbnail here -->
            <p>W zależności od zakresu w jakim wdrożona będzie platforma, jej beneficjentami mogą być bardzo różne części organizacji:</p>
            <div class="container">
                <div class="col-md-4">
                    <ul>
                        <li>grupy zadaniowe</li>
                        <li>działy</li>
                        <li>zespoły projektowe</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>organizacja</li>
                        <li>zarząd</li>
                        <li>pracownicy</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>kontrahenci</li>
                        <li>klienci</li>
                    </ul>
                </div>
            </div>


            <div>

                <em>Grupy zadaniowe</em>
                <p>
                    Mogą w łatwy sposób usprawnić proces związany z przetwarzaniem określonego rodzaju informacji, komunikować się efektywniej i mniejszym nakładem pracy.
                </p><img src="/Images/ProductDetails/teamwork2.PNG" alt="" class="img-responsive pull-right" style="border: hidden" />
                <em>Działy</em>
                <p>
                    Organizując witrynę działu można scentralizować wszystkie informacje wewnętrzne działu jak współdzielone dokumenty, raporty, kalendarze, listy zadań, ogłoszenia czy inne zasoby informacyjne przetwarzane w ramach działu.
                </p>
                <em>Zespoły projektowe</em>
                <p>
                    W przypadku gdy zespół został wyłoniony z pracowników różnych części organizacji wtedy komunikacja tego zespołu zaczyna być kluczowym parametrem powodzenia danego projektu. Scentralizowanie wszelkich informacji związanych z danym projektem w jednym miejscu pozwala ograniczyć ilość spotkań i dyskusji oraz znacznie zredukować czas dotarcia do potrzebnych informacji czy decyzji.
                </p>
                <em>Organizacja</em>
                <p>
                    W każdej organizacji występują procesy, które dotyczą całej organizacji lub jej części. Najczęściej są to procesy decyzyjne (np. akceptacja umów, ofert) i procesy administracyjne (np. zgłoszenie problemu, obsługa wniosków urlopowych, rezerwacja sali konferencyjnej). 
                    <img src="/Images/ProductDetails/teamwork5.PNG" alt="" class="img-responsive pull-left" style="border: hidden" />
                    Proste mechanizmy automatyzacji tych procesów pozwalają nie tylko zaoszczędzić sporo czasu ale również nadzorować prawidłowy ich przebieg w sposób automatyczny wysyłając w razie potrzeby stosowne przypomnienia i powiadomienia.<br />
                    Ta sama organizacja może zyskać również na zestandaryzowaniu dokumentów wewnętrznych (np. wzory kontraktów, procedury i polityki wewnętrzne, szablony korespondencji, metodyki prowadzenia projektów) w taki sposób, aby były one zawsze aktualne i dostępne dla pracowników na żądanie.
                    Sprawny przepły informacji nie powoduje również powstawania zatorów zpowodowanch nierównomiernym obciążeniem pracą (np. zamknięcie miesiąca w księgowości czy w kadrach)
                </p>
                
                <em>Zarząd</em>
                
                <p>Dla zarządu największą wartością będzie możliwość oceny ilości i jakości przetwarzanych w organizacji zadań oraz zapewnienie żę "unikalna wiedza" zgromadzona w organizacji będzie efektywnie wykorzystywana i przekazywana nowym pracownikom.</p>
                
               
                <em>Kontrahenci</em>
                <p>
                    Jeżeli potrzebujemy komunikować się z naszymi kontrahentami najlepiej, gdy robimy to w sposób usystematyzowany, rejestrując każdą wysłaną i odebraną informację. Każdy kontrahent może być dodany jako użytkownik platformy (z odpowiednimi uprawnieniami dostępu) co pozwoli nam na dwukierunkową komunikację.
                    <img src="/Images/ProductDetails/teamwork4.PNG" alt="" class="img-responsive pull-right" style="border: hidden" />
                     W pozostałych przypadkach możemy zdefiniować procesy, które będą wysyłały stosowne powiadomienia w ustalonych odstępach czasu dzięki niewielkim kosztem będziemy mieli pewność, że ważne informacje (np. o zmianach w produktach, cenach) zostały przekazane na czas.
                    
                    Jeżeli kontrahent jest naszym podwykonawcą (np. outsorsing) wtedy również zdefiniowane procesy mogą kierować automatycznie zlecenia na zewnątrz organizacji.
                </p>
                <em>Klienci</em>
                <p>Głównym benefitem dla Klientów będzie przede wszystkim zauważalna poprawa poziomu jakości obsługi ze względu na to, że każdy temat zgłoszony przez Klienta może być nadzoworany stosownym procesem (np. reklamacje, prośba o udzielenie rabatu, niezgodność na fakturze)</p>

            </div>
            <div class="container">
                <div class="col-md-4 col-md-offset-4">
<img src="/Images/ProductDetails/teamwork1.PNG" alt="" class="img-responsive" style="border: hidden" />
                </div>
            </div>
           

            <div>Zastosowania platformy mogą być nieograniczone. Wszędzie tam gdzie dzisiaj korzystamy z arkusza kalkulacyjnego do zbierania danych czy dysków współdzielonych do przechowywania plików możemy zastąpić je z powodzeniem nowoczesnym rozwiązaniem jakim jest <strong>STAFix24</strong></div>
        </div>


        <!-- Navigation links -->
        <ul class="pager">
            <li class="previous">
                <a href="/Home/ProductDetailsSec1">&larr; Poprzednia</a>
            </li>
            <li class="next">
                <a href="/Home/ProductDetailsSec3">Następna &rarr;</a>
            </li>
        </ul>
    </div>
    <!-- Main Content Ends Here -->
</div>
