<div class="padd sidebar">
    <!-- Each sidebar should be enclosed inside "widget class" -->

    <!-- 2nd widget -->
    <div class="widget">
        <h3 class="matopen">Menu</h3>
        <div class="matter">
            <ul>
                <li><a href="/Home/ProductDetailsSec1#sec1">Do kogo kierowana jest oferta?</a></li>
                <li><a href="/Home/ProductDetailsSec2#sec2">Kto skorzysta na wdrożeniu platformy <strong>STAFix24</strong>?</a></li>
                <li><a href="/Home/ProductDetailsSec3#sec3">Jakie są wymagania techniczne platformy?</a></li>
                <li><a href="/Home/ProductDetailsSec3#sec4">Co wchodzi w skład oferty?</a></li>
                <li><a href="/Home/ProductDetailsSec5#sec5">Ile to kosztuje?</a></li>
                <li><a href="/Home/RulesOfService">Regulamin świadczenai usługi</a></li>
            </ul>
        </div>
    </div>

</div>
