<div class="padd whity content">
    <!-- Main Content Starts Here -->
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
        <!-- Each entry should be enclosed inside div with the class "entry" -->

        <div class="entry" id="sec1">
            <!-- Entry title -->
            <h2><a href="#">Do kogo kierowana jest ofereta?</a></h2>
            <p>
                Platforma <strong>STAFix24</strong> dedykowana jest wszystkim firmom w których informacje są gromadzone, przetwarzane i udostępniane.
                 W zasadzie usługa może być wdrożona w każdej firmie w której pracownicy dysponują komputerem z dostępem do internetu.
                 <br />
                Z ekonomicznego punktu widzenia są dwie główne grupy odbiorców, gdzie wdrożenie platformy daje niemal natychmiastowe efekty:
                 <ul>
                     <li>małe i średnie firmy bez rozbudowanej infrastruktury informatycznej</li>
                     <li>duże firmy i korporacje, które mają ograniczone możliwości skalowania istniejących rozwiązań informatycznych</li>
                 </ul>
            </p>
            <p>W przypadku małych firm wdrożenie jest uzasadnione jeżeli firma posiada przynajmniej 5ciu pracowników, którzy komunikują się między sobą i gromadzą informacje.</p>
            <p>
                Większe firmy często potrzebują wdrożyć szybko rozwiązania, które będą wspierały określony proces a przy tym pozwolą na określenie zasadności większych inwestycji w tego rodzaju narzędzia.
                W takim przypadku firmy te najczęściej będą wykorzystywały rozwiązania zbudowane na platformie jako prototypy.
            </p>
            <p>
                <img src="/Images/ProductDetails/klasy_system%c3%b3w.PNG" alt="" class="img-responsive pull-right" width="400" style="border: hidden" />
                W nowocześnie zarządzanych firmach jest bardzo wiele różnego rodzaju systemów poczynając od systemów klasy ERP do zarządzania
                organizacją poprzez systemy gromadzenia (DW) i analizowania (BI) dużych ilości danych.<br />
            </p>
            <p>
                Dla mniejszych organizacji systemy takie są niestety bardzo kosztowne (wdrożenie, utrzymanie, licencje).
                W ostatnich latach bardzo rozwinęła się również inna grupa systemów, które nie skupiają się wokół twardych danych numerycznych a raczej wypełniają lukę w obszarze gromadzenia i przetwarzania informacji.<br />
            </p>
            <p>
                <strong>STAFix24</strong> jest właśnie przykładem takiego systemu (platformy), która w założeniu dostępna jest dla wszystkich pracowników, nie wymaga licencji dostępowych i instalowania czegokolwiek na komputerze.<br />
                Platforma ta klasyfikowana jest głownie jako narzędzie klasy (CMS i WF) jednak w praktyce może ona przejmować funkcjonalność innych systemów poprzez opdowiednią konfiguację czy budowanie dedykowanych aplikacji.<br />
            </p>
            <p>
                Dla większości organizacji takie rozwiązanie jest zdecydowanie bardziej ekonomiczne nie tylko ze względu na znacznie niższe koszty wdrożenia poszczególnych funkcjonalności ale również czas opracowania i wdrożenia.
            </p>
            <p>Decydując się na wdrożenie platformy <strong>STAFix24</strong> organizacja nie ponosi żadnych kosztów związanych z rozbudową koniecznej infrastruktury informatycznej ponieważ usługa w całości dostarczana jest jako serwis i dostępna z poziomu przeglądarki internetowej.</p>
        </div>




        <div class="entry" id="sec2">
            <!-- Entry title -->
            <h2><a href="#">Kto skorzysta na wdrożeniu plaformy <strong>STAFix24</strong>?</a></h2>
            <!-- Thumbnail here -->
            <p>W zależności od zakresu w jakim wdrożona będzie platforma, jej beneficjentami mogą być bardzo różne części organizacji.</p>

            <div>
                <p>
                    <img src="/Images/ProductDetails/teamwork1.PNG" alt="" class=" img-responsive pull-right" style="border: hidden" />
                    <h4>Grupy zadaniowe</h4>
                    W najprostrzym modelu może to być kilka osób w ramach danego działu wykonujących określone zadania.
                    Dla przykładu w księgowości archiwizacja faktur, w magazynie archiwizacja dokumentacji celnej, w dziale sprzedaży obsługa raportów tygodniowych, w marketingu ustalanie listy osób na konferencję itp.
                </p>

            </div>

            <div>
                <p>
                    <img src="/Images/ProductDetails/teamwork2.PNG" alt="" class="img-responsive pull-left" style="border: hidden" />
                    <h4>Działy / Zespoły projektowe</h4>
                    Jeżel na platformie skonfigurujemy witrynę dedykowaną do komunikacji w ramach danego działu wtedy większość aktywności danego działu można zapisać na platformie.
                Najbardziej typowymi zastosowaniami bedzie tutaj udostępnianie dokumentów, praca nad dokumentami, kalendarz zespołu, lista zadań przydzielonych w ramach zespołu, ogłoszenia i informacje wewnętrzne działu, procedury itp.
                </p>
                <p>
                    Platforma może być również bardzo pomocna gdy zadania realizowane są w trybie projektowym gdzie zaangażowani są pracownicy z różnych działów i jednostek organizacyjnych.
                    W tym przypadku sprawna komunikacja jest jednym z kluczowych czynników powodzenia projektu. 
                </p>
                <img src="/Images/ProductDetails/teamwork5.PNG" alt="" class="img-responsive pull-right" style="border: hidden" width="100" />
                <p>
                    Definiując na platformie witrynę dedykowaną dla projektu możemy w jednym miejscu przechowywać różnego rodzaju informacje dotyczące danego projektu jak: dokumenty, harmonogramy, zadania do zrobienia, rejestry broblemów i zgłoszonych zmian, informacje o realizacji budżetu, minuty ze spotkań, prezentacje z postępów prac, protokoły itp.
                Wszystkie te informacje są w każdej chwili dostępne dla użytkowników danej witryny, pogrupowane w logiczny sposób dzięki czemu członkowie zespołu nie muszą prowadzić własnych archiwów dokumentacji projektu.
                </p>
            </div>

            <div>
                <p>

                    <h4>Części organizacji</h4>
                    Wraz z rozwojem każdej organizacji procesy biznesowe również zaczynają się komplikować. Podstawowy problem w organizacjach dotyczy komunikacji pomiędzy różnymi zespołami funkcyjnymi.
                Nawet jeżeli pojedyńczy zespół realizuje swoje zadania "idealnie" to niestety pewne procesy decyzyjne czy opiniotwórcze muszą być często realizowane w kooperacji z innymi zespołami.
                W tego typu przypadkach najważniejszym parametrem wydajności danego procesu okazuje się być czas.
                </p>
                <img src="/Images/ProductDetails/teamwork3.PNG" alt="" class="img-responsive pull-right" style="border: hidden" />
                <p>
                    Jeżeli w organizacji zidentyfikowaliśmy tego typu problemy zaczynamy szukać skutecznych narzędzi jak im przeciwdziałać. Zazwyczaj jednak dostępne narzędzia jak poczta elektroniczna czy regularne częste spotkania nie pomagają w dłuższym okresie czasu ze względu na ich pracochłonność i nieefektywne zaangażowanie zasobów.<br />
                    W takich przypadkach najefektywnieszym rozwiązaniem sprawdzonym w wielu organizacjach jest zdefiniowanie procesu biznesowego oraz mierników efektywności. Następnie proces po uruchomieniu zaczyna sam pilnować efektywności przepływu pracy wysyłając do uczestników danego procesu przypomnienia, ponaglenia, eskalacje itp.<br />
                    Najbardziej typowe rozwiązania w tym obszarze dotyczą procesów decyzyjnych jak np. autoryzacja kontraktów, zakupów, projektów - gdzie w proces decyzyjny zaangażowanych jest kilka osób.<br />
                    Innym bardzo typowym zastosowaniem procesów jest realizacja typowych aktywności uregulowanych procedurą np. obsługa wniosku urlopowego, rozliczenie zaliczki, zgoda na wyjazd służbowy, zgłoszenie problemu itp.
                </p>
            </div>
            <div>

                <h4>Kontrahenci / Klienci</h4>
                <p>
                    Wszelkiego rodzaju usprawnienia w obszarze komunikacji wewnętrznej można z powodzeniem wykorzystać również w komunikacji z partnerami beznesowymi.
                    W przypadku gdy z naszymi dostawcami musimy regularnie wymieniać jakieś informacje zastosowanie platformy <strong>STAFix24</strong> może okazać się lekarstwem na aktualne problemy.
                </p>
                <img src="/Images/ProductDetails/teamwork4.PNG" alt="" class="img-responsive pull-left" style="border: hidden" />
                <p>Typowymi zastosowaniami platformy w takich przypadkach jest wymiana informacji o zleceniach i ich statusie, informowanie o zmianach w portfolio produktów czy usłów, wystawianie promocyjnych ofert handlowych, zapewnienie dwukierunkowej komunikacji z klientami itp.</p>
            </div>

            <div>Zastosowania platformy mogą być nieograniczone. Wszędzie tam gdzie dzisiaj korzystamy z arkusza kalkulacyjnego do zbierania danych czy dysków współdzielonych do przechowywania plików możemy zastąpić je z powodzeniem nowoczesnym rozwiązaniem jakim jest platforma</div>
        </div>


        <div class="entry" id="sec3">
            <h2>Jakie są wymagania techniczne platformy?</h2>


            <p>
                Z punktu widzenia użytkownika platformy niezbędny jest:
                <ul>
                    <li>Komputer lub tablet z dostępem do Internetu</li>
                    <li>Zainstalowana dowolna przeglądarka internetowa</li>
                </ul>
            </p>
            <div>
                <img src="/Images/ProductDetails/browsers.PNG" alt="" class="img-responsive pull-center" style="border: hidden" /></div>
        </div>


        <div class="entry" id="sec4">
            <h2>Co wchodzi w skład oferty?</h2>
            <div class="container">
                <div class="col-md-4">
                    <br />
                    <br />
                    <img src="/Images/ProductDetails/offer.PNG" alt="" class="img-responsive pull-right" style="border: hidden" />
                </div>
                <div class="col-md-8">
                    <p>
                        W ramach zakupionej usługi Klient otrzymuje:
                <ul>
                    <li>uruchomienie i wdrożenie platformy <strong>STAFix24</strong></li>
                    <li>dostęp do platformy 24/7</li>
                    <li>podstawową opiekę administracyjną</li>
                    <li>wsparcie administracyjne</li>
                    <li>wsparcie konsultacyjne</li>
                    <li>szkolenia/warsztaty</li>
                </ul>
                    </p>
                </div>

            </div>
        </div>


        <div class="entry" id="sec5">
            <h2>Ile to kosztuje?</h2>
            <p>
                <img src="/Images/ProductDetails/money.PNG" alt="" class="img-responsive pull-right" style="border: hidden" />
                Na koszty usługi składają się następujące elementy:
                <ul>
                    <li>koszt uruchomienia wdrożenia usługi (jednorazowo)</li>
                    <li>koszt utrzymania niezbędnej infrastruktury technicznej (miesięcznie)</li>
                    <li>koszt obsługi powdrożeniowej (miesięcznie - na życzenie Klienta)</li>
                </ul>
            </p>
            <p>
                <em>Koszt uruchomienia i wdrożenia usługi</em> zależy bezpośrednio od ilości zadeklarowanych użytkowników oraz pracochłonności związanej ze wstępną konfiguracją platformy na potrzeby Klienta.
                Po zdefiniowaniu wymaganych funkcjonalności Klient otrzymuje propozycję wyceny usługi. Większość gotowych do wykorzystania elementów platformy wymaga jedynie stosownej konfiguracji i jest rozliczana ryczałtowo.
                Pozostałe - niestandardowe - funkcjonalności, które wymagają interencji programistycznej podlegają wycenie jak aplikacje tworzone na zamówienie. W tym przypadku wycena musi być poprzedzona stosowną analizą wymagań i projektem rozwiązania.
                Tego typu aplikacje mogą być realizowane na platformie w dowolnym momencie po jej uruchomieniu.
            </p>
            <p>
                <em>Koszty utrzymania niezbędnej infrastruktury technicznej</em> są związane z hostingiem serwerów i utrzymaniem łączy do Internetu potrzebnych do działania platformy. Dodatkowo w ramach tych kosztów Klient ma zapewnioną opiekę administracyjną polegającą na
                <ul>
                    <li>zabezpieczeniu i okresowej archiwizacji danych</li>
                    <li>zarządzaniu regułami bezpieczeństwa i dostępem do platformy</li>
                </ul>

            </p>
            <p>
                <em>Koszty obsługi powdrożeniowej</em> są rozliczane zgodnie z indywidualnymi ustaleniami z Klientem. W tym przypadku należy wziąć pod uwage następujące składowe kosztow:
                <div class="container">
                    <div class="col-md-2">
                        <img src="../../Images/ProductDetails/money1.PNG" alt="" class="img-responsive" style="border: hidden" />
                    </div>

                    <div class="col-md-10">
                        <ul>
                            <li>dodatkowe prace administracyjne ponad zryczałtowany limit miesięczny</li>

                            <li>konsultacje w zakresie użycia platformy i aplikacji biurowych</li>
                            <li>konsultacje w zkaresie rozbudowy/modyfikacji funkcjonalności</li>
                            <li>konsultacje w zakresie automatyzacji obsługi procesów biznesowych</li>
                            <li>szkolenia i warsztaty dla użytkowników i administratorów witryn</li>
                            <li>budowa dedykowanych aplikacji zgodnie z odrębną ofertą</li>
                        </ul>
                    </div>
                </div>
            </p>
        </div>

        <!-- Navigation links -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Previous Entries</a>
            </li>
            <li class="next">
                <a href="#">New Entries &rarr;</a>
            </li>
        </ul>
    </div>
    <!-- Main Content Ends Here -->
</div>
