<div class="padd whity content">
    <!-- Main Content Starts Here -->
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
        <!-- Each entry should be enclosed inside div with the class "entry" -->


        <div class="entry" id="sec5">
            <h2>Ile to kosztuje?</h2>
            <p>
                <img src="/Images/ProductDetails/money.PNG" alt="" class="img-responsive pull-right" style="border: hidden" />
                Na koszty usługi składają się następujące elementy:
                <ul>
                    <li>koszt uruchomienia wdrożenia usługi (jednorazowo)</li>
                    <li>koszt utrzymania niezbędnej infrastruktury technicznej (miesięcznie)</li>
                    <li>koszt obsługi powdrożeniowej (miesięcznie - na życzenie Klienta)</li>
                </ul>
            </p>
            <p>
                <em>Koszt uruchomienia i wdrożenia usługi</em> zależy bezpośrednio od ilości zadeklarowanych użytkowników oraz pracochłonności związanej ze wstępną konfiguracją platformy na potrzeby Klienta.
                Po zdefiniowaniu wymaganych funkcjonalności Klient otrzymuje propozycję wyceny usługi. Większość gotowych do wykorzystania elementów platformy wymaga jedynie stosownej konfiguracji i jest rozliczana ryczałtowo.
                Pozostałe - niestandardowe - funkcjonalności, które wymagają interencji programistycznej podlegają wycenie jak aplikacje tworzone na zamówienie. W tym przypadku wycena musi być poprzedzona stosowną analizą wymagań i projektem rozwiązania.
                Tego typu aplikacje mogą być realizowane na platformie w dowolnym momencie po jej uruchomieniu.
            </p>
            <p>
                <em>Koszty utrzymania niezbędnej infrastruktury technicznej</em> są związane z hostingiem serwerów i utrzymaniem łączy do Internetu potrzebnych do działania platformy. Dodatkowo w ramach tych kosztów Klient ma zapewnioną opiekę administracyjną polegającą na
                <ul>
                    <li>zabezpieczeniu i okresowej archiwizacji danych</li>
                    <li>zarządzaniu regułami bezpieczeństwa i dostępem do platformy</li>
                </ul>

            </p>
            <p>
                <em>Koszty obsługi powdrożeniowej</em> są rozliczane zgodnie z indywidualnymi ustaleniami z Klientem. W tym przypadku należy wziąć pod uwage następujące składowe kosztow:
                <div class="container">
                    <div class="col-md-2">
                        <img src="../../Images/ProductDetails/money1.PNG" alt="" class="img-responsive" style="border: hidden" />
                    </div>

                    <div class="col-md-10">
                        <ul>
                            <li>dodatkowe prace administracyjne ponad zryczałtowany limit miesięczny</li>

                            <li>konsultacje w zakresie użycia platformy i aplikacji biurowych</li>
                            <li>konsultacje w zkaresie rozbudowy/modyfikacji funkcjonalności</li>
                            <li>konsultacje w zakresie automatyzacji obsługi procesów biznesowych</li>
                            <li>szkolenia i warsztaty dla użytkowników i administratorów witryn</li>
                            <li>budowa dedykowanych aplikacji zgodnie z odrębną ofertą</li>
                        </ul>
                    </div>
                </div>
            </p>
        </div>

        <!-- Navigation links -->
        <ul class="pager">
            <li class="previous">
                <a href="/Home/ProductDetailsSec3">&larr; Poprzednia</a>
            </li>
            <li class="next">
                <a href="/Home/RulesOfService">Następna &rarr;</a>
            </li>

        </ul>
    </div>
    <!-- Main Content Ends Here -->
</div>
