<div class="padd sidebar">
    <!-- Each sidebar should be enclosed inside "widget class" -->
    <!-- 2nd widget -->
    <div class="widget">
        <h3 class="matopen">Menu</h3>
        <div class="matter">
            <ul>
                <li><a href="/Home/RulesOfService#sec1">Rodzaj i zakres usług</a></li>
                <li><a href="/Home/RulesOfService#sec2">Zawarcie i rozwiązanie umowy o świadczenie usługi hostingu platformy STAFix24</a></li>
                <li><a href="/Home/RulesOfService#sec3">Rozliczenia i płatności</a></li>
                <li><a href="/Home/RulesOfService#sec4">Zasady świadczenia usługi Hosting platformy STAFix24 </a></li>
                <li><a href="/Home/RulesOfService#sec5">Postanowienia końcowe</a></li>
            </ul>
        </div>
    </div>

</div>