
<head>
    <style type="text/css">
        ol {
            margin-bottom: 0cm;
        }
    </style>
</head>

<div class="padd whity content">
    <!-- Main Content Starts Here -->
    <!-- Content should be encloased inside div with the class "posts" -->
    <div class="posts">
        <!-- Each entry should be enclosed inside div with the class "entry" -->

        <div class="entry">
            <!-- Entry title -->
            <h2><a href="#">Regulamin świadczenia usługi hostingu platformy STAFix24</a></h2>

            <p align="center" class="MsoNormal" id="sec1">
                <b>
                    <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#0268AC;mso-fareast-language:PL"><br />§1 Rodzaj i zakres usługi</span>
                </b>
                <span style="font-size:10.0pt;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222;
mso-fareast-language:PL"><o:p></o:p></span>
            </p>
            <ol start="1" type="1">
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">Usługa&nbsp;</span><b>
                        <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;color:#0268AC;mso-fareast-language:PL">
                            Hosting
                            platformy STAFix24
                        </span>
                    </b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
     mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:PL">
                        &nbsp;jest
                        udostępniana przez RAWcom sp. z o.o. z siedzibą
                        <span style="mso-spacerun:yes">&nbsp;</span>przy ul. Żelaznej 67/13, 00-871
                        Warszawa, zwanej dalej RAWcom.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">Usługa</span><b>
                        <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;color:#0268AC;mso-fareast-language:PL">
                            Hosting
                            platformy STAFix24
                        </span>
                    </b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
     mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:PL">
                        &nbsp;zwana
                        dalej Usługą obejmuje udostępnianie witryny intranetowej skonfigurowanej
                        zgodnie z zamówieniem Klienta<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Charakterystyka Usługi
                        dostępna jest na stronie
                    </span>
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
     mso-fareast-font-family:&quot;Times New Roman&quot;;color:#255A9C;mso-fareast-language:
     PL"><a href="http://stafix24.pl">http://stafix24.pl</a></span><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">.<o:p></o:p></span>
                </li>
            </ol>
            <p align="center" class="MsoNormal" id="sec2">
                <a name=".C2.A72_Zawarcie_i_rozwi.C4.85zanie_umow"></a><b>
                    <span style="font-size:
10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#0268AC;mso-fareast-language:PL">
                        <br />
                        §2 Zawarcie i rozwiązanie umowy o
                        świadczenie usługi hostingu platformy STAFix24
                    </span>
                </b>
                <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#222222;mso-fareast-language:PL"><o:p></o:p></span>
            </p>
            <ol start="1" type="1">
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Zawarcie umowy, na
                        podstawie której następuje świadczenie Usługi, następuje na podstawie
                        przesłanego potwierdzonego zamówienia Usługi lub poprzez zawarcie stosownej
                        umowy o świadczenie Usługi.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Użytkownik, zawierając
                        umowę hostingu, oświadcza że: <o:p></o:p>
                    </span>
                    <ol start="1" type="a">
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Zobowiązuje się
                                przestrzegać Regulaminu Usługi.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">Podane w zamówieniu dane są zgodne z prawdą.<o:p></o:p></span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Wyraża zgodę na
                                przetwarzanie danych osobowych przez RAWcom w celach administracyjnych,
                                statystycznych i marketingowych zgodnie z ustawą z 29.08.1997 r. o
                                ochronie danych osobowych Dz. U. Nr 133 z 1997 r.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Dokona wpłaty z
                                tytułu opłaty abonamentowej za Usługę w terminie i na warunkach
                                określonych w ofercie.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Nazwa jego konta lub
                                publikowanych domen DNS nie naruszają praw osób trzecich, a wszelkie
                                ewentualne spory na tym tle rozstrzygane będą bez udziału RAWcom. RAWcom
                                może odmówić rejestracji konta lub domeny DNS o określonej nazwie,
                                jeżeli nazwa tego konta pozwala przypuszczać, że innemu Użytkownikowi
                                przysługuje pierwszeństwo w jej zarejestrowaniu.<o:p></o:p>
                            </span>
                        </li>
                    </ol>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Każdy Użytkownik ma
                        prawo wglądu do swych danych, a także prawo ich modyfikacji i żądania
                        usunięcia. W tym celu należy zwrócić się korespondencyjnie na adres RAWcom
                        sp z o.o. <span style="mso-spacerun:yes">&nbsp;</span>ul. Żelazna 76/13, 00-871
                        Warszawa. Użytkownik przyjmuje do wiadomości, iż zgłoszenie przez
                        Użytkownika wniosku o usunięcie przez RAWcom danych podawanych w formularzu
                        rejestracyjnym, jest jednocześnie wnioskiem Użytkownika o usunięcie jego
                        konta z systemu.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Rozwiązanie przez
                        RAWcom w trybie natychmiastowym umowy o świadczenie Usług następuje na
                        skutek: <o:p></o:p>
                    </span>
                    <ol start="1" type="a">
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Pisemnego
                                oświadczenia Użytkownika o rezygnacji wysłanego na adres
                                korespondencyjny RAWcom sp z o.o. <span style="mso-spacerun:yes">&nbsp;</span>ul.
                                Żelazna 76/13, 00-871 Warszawa - z dniem zapoznania się z wnioskiem
                                przez RAWcom.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Zgłoszenia żądania
                                Użytkownika skierowanego do RAWcom dotyczące zaprzestania przetwarzania
                                danych osobowych zgodnie z ust. 3 niniejszego paragrafu - z dniem
                                zapoznania się z wnioskiem przez RAWcom.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Jednostronnej decyzji
                                RAWcom, podjętej w sytuacji gdy: <o:p></o:p>
                            </span>
                            <ol start="1" type="i">
                                <li class="MsoNormal">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
       &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                        Użytkownik
                                        wykorzystuje konto w sposób sprzeczny z niniejszym Regulaminem i
                                        mimo wezwań do zaprzestania takiej działalności nadal to czyni w
                                        terminie 3 dni od wezwania.<o:p></o:p>
                                    </span>
                                </li>
                                <li class="MsoNormal">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
       &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                        Użytkownik nie
                                        dokonał zapłaty tytułem opłaty abonamentowej za wybraną usługę w
                                        terminie i na zasadach określonych w §3.<o:p></o:p>
                                    </span>
                                </li>
                                <li class="MsoNormal">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
       &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                        Na koncie
                                        umieszczane są treści niezgodne z obowiązującymi w Polsce przepisami
                                        prawa, przyjętymi normami społecznymi i obyczajowymi.<o:p></o:p>
                                    </span>
                                </li>
                                <li class="MsoNormal">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
       &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                        Konto wykorzystywane
                                        jest niezgodnie z jego przeznaczeniem, a w szczególności w
                                        przypadkach łamania zasad Netykiety sieciowej, działania na szkodę
                                        innych Użytkowników, np. prowadzenia akcji rozsyłania treści
                                        reklamowych, oraz poczty niechcianej zwanej Spamem.<o:p></o:p>
                                    </span>
                                </li>
                                <li class="MsoNormal">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
       &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                        Użytkownik działa na
                                        szkodę RAWcom.<o:p></o:p>
                                    </span>
                                </li>
                                <li class="MsoNormal">
                                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
       &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                        W wypadku
                                        stwierdzenia naruszeń stabilności i integralności platformy
                                        hostingowej lub aplikacji użytkownik nie współpracuje z RAWcom w
                                        celu usunięcia przyczyn takiego naruszenia.<o:p></o:p>
                                    </span>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        W przypadku, gdyby
                        Użytkownik podjął działania, które nie są sprzeczne z niniejszym
                        Regulaminem, ale zostaną przez RAWcom uznane za niepożądane, RAWcom
                        zawiadomi o tym fakcie Użytkownika pocztą elektroniczną, z żądaniem
                        natychmiastowego zaprzestania podejmowania tych działań. Jeżeli Użytkownik
                        nie zastosuje się niezwłocznie do żądania RAWcom, RAWcom uzna takie
                        działanie Użytkownika za naruszenie niniejszego Regulaminu.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Rozwiązanie Umowy z
                        przyczyn leżących po stronie Użytkownika nie powoduje zwrotu wniesionych
                        przez Użytkownika opłat z tytułu opłaty abonamentowej.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Użytkownik może
                        zrezygnować z Usługi w dowolnym momencie bez podania przyczyn, z tym, że
                        RAWcom będzie utrzymywał konta do końca opłaconego okresu rozliczeniowego,
                        chyba że Użytkownik zażąda ich usunięcia. Wcześniejsze dokonane na żądanie
                        Użytkownika usunięcie kont – nie powoduje zwrotu dokonanych wpłat
                        abonamentowych.<o:p></o:p>
                    </span>
                </li>
            </ol>
            <p align="center" class="MsoNormal" id="sec3">
                <a name=".C2.A73_Rozliczenia_i_p.C5.82atno.C5.9Bc"></a><b>
                    <span style="font-size:
10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#0268AC;mso-fareast-language:PL"><br />§3 Rozliczenia i płatności</span>
                </b>
                <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222;mso-fareast-language:PL">
                    <o:p></o:p>
                </span>
            </p>
            <ol start="1" type="1">
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Rejestracja w usłudze
                        Hosting platformy STAFix24 odbywa się na podstawie potwierdzonego przez
                        Użytkownika zamówienia Usługi lub na podstawie umowy o świadczenie usługi
                        hostingu.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Informacje dotyczące
                        sposobu uiszczenia płatności za Usługę przedstawione są w ofercie
                        stanowiącej podstawę zamówienia Usługi.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom wystawia
                        fakturę VAT z góry za kolejny okres rozliczeniowy i przesyła w formie
                        elektronicznej na wskazane przy rejestracji konto pocztowe Użytkownika.
                        Przekroczenie okresu abonamentowego i niedokonanie wpłaty skutuje blokadą
                        Usługi na okres 14 dni. Otrzymanie przez RAWcom w tym okresie potwierdzenia
                        wpłaty opłaty abonamentowej spowoduje niezwłoczne odblokowanie dostępu do
                        Usługi. Po tym terminie, w przypadku braku zapłaty, nastąpi usunięcie
                        aktywowanej Usługi i wygaśnięcie Umowy z upływem terminu, na jaki Umowa
                        została zawarta.<o:p></o:p>
                    </span>
                </li>
            </ol>
            <p align="center" class="MsoNormal" id="sec4">
                <b>
                    <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#0268AC;mso-fareast-language:PL">
                        <br />
                        §4 Zasady świadczenia usługi Hosting
                        platformy STAFix24&nbsp;
                    </span>
                </b><span style="font-size:10.0pt;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;color:#222222;
mso-fareast-language:PL"><o:p></o:p></span>
            </p>
            <ol start="1" type="1">
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom dołoży
                        uzasadnionych starań celem zapewnienia prawidłowego działania usługi Hosting
                        platformy STAFix24 i ochrony danych znajdujących się na serwerach usługi.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Użytkownik przyjmuje
                        do akceptującej wiadomości, iż stosowane przez RAWcom nowoczesne techniki
                        zabezpieczenia kont i dostępu do danych służą zapewnieniu jak najwyższego
                        poziomu bezpieczeństwa, jednak ze względów technicznych i organizacyjnych
                        nie mogą gwarantować w pełni tajemnicy składowanych i przesyłanych
                        informacji. W wypadku gdy wymagany jest wyższy poziom ochrony wymagane jest
                        wdrożenie aplikacji na wydzielonym środowisku, w którym spełnione są
                        wszystkie wymogi dotyczące ochrony danych osobowych wynikające z przepisów
                        prawa (środowiska takie oferowane są jako oddzielne pakiety hostingowe). Dla
                        takich aplikacji RAWcom wyraża zgodę na podpisanie odrębnej umowy o
                        powierzeniu przetwarzania danych osobowych.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom nie będzie
                        udostępniać danych osobowych Użytkowników osobom trzecim, za wyjątkiem
                        przypadków określonych przepisami prawa.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom nie ponosi
                        odpowiedzialności za: <o:p></o:p>
                    </span>
                    <ol start="1" type="a">
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Sposób, w jaki
                                Użytkownicy korzystają z kont hostingowych, ani za jakiekolwiek wynikłe
                                z tego skutki.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Pocztę wysłaną oraz
                                przyjmowaną przez Użytkowników, a także szkody poniesione przez
                                Użytkowników spowodowane nieprawidłowym zapisem lub odczytem wiadomości.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Informacje oraz
                                materiały pobrane z sieci Intranet znajdujące się na kontach
                                Użytkowników.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Jakiekolwiek szkody
                                Użytkownika wynikające z nieprawidłowego udostępniania bądź niemożności
                                udostępniania jego konta.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Skutki wynikłe z
                                wejścia w posiadanie przez osoby trzecie hasła Użytkownika, niezależnie
                                od przyczyny, która to spowodowała (np. udostępnienie hasła osobie
                                trzeciej przez Użytkownika, złamanie hasła przez osobę trzecią).<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Udostępnianie hasła i
                                danych osobom upoważnionym na podstawie właściwych przepisów prawa.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Bezprawne działania
                                osób trzecich polegające na ingerencji w system komputerowy Użytkownika
                                w szczególności włamania i wirusy komputerowe.<o:p></o:p>
                            </span>
                        </li>
                    </ol>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        W przypadku zgłoszenia
                        przez Użytkownika problemów technicznych pojawiających się w związku z
                        użytkowaniem konta, RAWcom niezwłocznie podejmie prace naprawcze. RAWcom ma
                        prawo dokonać sprawdzenia technicznych aspektów funkcjonowania konta oraz
                        wykonać wszelkie czynności naprawcze niezbędne dla rozwiązania zaistniałych
                        problemów.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom zastrzega sobie
                        prawo do: <o:p></o:p>
                    </span>
                    <ol start="1" type="a">
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Okresowego
                                zaprzestania świadczenia usługi w celach przeprowadzania prac
                                modernizacyjno-konserwacyjnych systemu po wcześniejszym poinformowaniu
                                Użytkowników.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Wysyłania na konta
                                Użytkowników komunikatów technicznych związanych z funkcjonowaniem
                                usługi.<o:p></o:p>
                            </span>
                        </li>
                        <li class="MsoNormal">
                            <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-fareast-language:PL">
                                Wysyłania na konta
                                Użytkowników informacji o bieżących ofertach RAWcom.<o:p></o:p>
                            </span>
                        </li>
                    </ol>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom nie będzie
                        odpowiadać wobec Użytkownika za jakiekolwiek utracone korzyści spowodowane
                        nieprawidłowym działaniem usługi Hosting platformy STAFix24.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom nie ponosi
                        jakiekolwiek odpowiedzialności wobec Użytkownika z tytułu czasowej
                        niedostępności usługi.<o:p></o:p>
                    </span>
                </li>
            </ol>
            <p align="center" class="MsoNormal" id="sec5">
                <a name=".C2.A76_Postanowienia_ko.C5.84cowe"></a><b>
                    <span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:#0268AC;mso-fareast-language:PL"><br />§5 Postanowienia końcowe</span>
                </b>
                <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:#222222;mso-fareast-language:PL">
                    <o:p></o:p>
                </span>
            </p>
            <ol start="1" type="1">
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Wszelkie informacje o
                        naruszeniach przez użytkowników usługi Hosting platformy STAFix24
                        niniejszego Regulaminu należy kierować na adres&nbsp;<a href="mailto:biuro@rawcom24.pl">biuro@rawcom24.pl</a><a href="mailto:support@HostedWindows.pl"></a>.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        RAWcom zastrzega sobie
                        prawo zmiany niniejszego Regulaminu, bez uprzedniego indywidualnego
                        uprzedzania Użytkowników.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Zmiany Regulaminu będą
                        udostępniane Użytkownikom na stronie usługi STAFix24 pod adresem&nbsp;xxx<a href="http://hostedwindows.pl/regulaminy-uslug-hostingowych/regulamin-shared-hosting.aspx"></a>.
                        Informacja o zmianie Regulaminu będzie publikowana z 14-dniowym
                        wyprzedzeniem przed ich wejściem w życie.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        W przypadku, gdy
                        Użytkownik nie akceptuje zmian w Regulaminie, może w każdym czasie
                        zaprzestać korzystania z Usług przesyłając do dnia wejścia w życie
                        zmienionego Regulaminu, pisemne oświadczenie o rezygnacji z usług na adres
                        korespondencyjny RAWcom sp z o.o. <span style="mso-spacerun:yes">&nbsp;</span>ul.
                        Żelazna 76/13, 00-871 Warszawa.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        W sprawach
                        nieuregulowanych niniejszym Regulaminem mają zastosowanie przepisy Ustawy o
                        świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 (Dz. U. z roku
                        2002, Nr 144, poz. 1204) oraz Ustawy o ochronie niektórych usług
                        świadczonych drogą elektroniczną opartych lub polegających na dostępie
                        warunkowym z dnia 5 lipca 2002 (Dz. U. z roku 2002, Nr 126, poz. 1068), oraz
                        Ustawy o ochronie danych osobowych z dnia 29 sierpnia 1997 (t.j. - Dz. U. z
                        roku 2002, Nr 101, poz. 926) i Kodeksu Cywilnego.<o:p></o:p>
                    </span>
                </li>
                <li class="MsoNormal">
                    <span style="font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:PL">
                        Niniejszy Regulamin
                        wchodzi w życie z dniem 2014-01-01.<o:p></o:p>
                    </span>
                </li>
            </ol>
            <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
        </div>

        <!-- Navigation links -->
        <ul class="pager">
            <li class="previous">
                <a href="/Home/ProductDetailsSec5">&larr; Poprzednia</a>
            </li>

        </ul>

    </div>
</div>

